*

!.gitattributes
!.gitignore
!README.md

!.clang-format
!CMakeLists.txt

!apps
!apps/**

!include
!include/**

!src
!src/**

**/cmake_install.cmake/
**/CMakeFiles
**/CMakeCache.txt

!compare
!compare/**
